.btn {
  width: 100%;
  max-width: 160px;
  color: rgba(192, 192, 191, 0.5411764706);
  height: 40px;
  border-radius: 10px;
  display: block;
  background-color: #7a7a7a;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}
.btn:active {
  transform: scale(0.97);
}
.btn:hover {
  box-shadow: 0 0 4px 1px rgba(192, 192, 191, 0.5411764706);
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.4rem;
    max-width: 145px;
    height: 35px;
  }
}

.form-container {
  padding: 10px 25px;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #7a7a7a;
  border-radius: 5%;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .form-container {
    max-width: 430px;
  }
}
.form__title {
  color: #7a7a7a;
  font-size: 3rem;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .form__title {
    font-size: 2.5rem;
  }
}
.form__field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.form__field-label {
  color: #99befa;
  font-size: 2.3rem;
  text-align: start;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  .form__field-label {
    font-size: 1.8rem;
  }
}
.form__field-input {
  color: black;
  font-size: 2.3rem;
  height: 50px;
  width: 100%;
  border: 1.5px solid rgba(192, 192, 191, 0.5411764706);
  border-radius: 15px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .form__field-input {
    font-size: 1.8rem;
  }
}
.form__field-input:focus {
  outline: none;
  box-shadow: 0 0px 4px 1px #99befa;
}
.form__field-input::placeholder {
  color: rgba(192, 192, 191, 0.5411764706);
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .form__field-input::placeholder {
    font-size: 1.4rem;
  }
}
.form__field.invalid .form__field-label {
  color: #56221e;
}
.form__field.invalid .form__field-input {
  border: 1.5px solid #99befa;
  box-shadow: 0 0 10px 1px #56221e;
}
.form__field.invalid .form__field-warning {
  color: #56221e;
  font-size: 1.4rem;
}
.form__btn {
  color: #ffffff;
  background-color: #99befa;
  margin: 10px auto;
}
.form__notice {
  color: #7a7a7a;
  text-align: center;
  font-size: 2.3rem;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .form__notice {
    font-size: 1.4rem;
  }
}
.form__link {
  color: gray;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

.page-authorization {
  height: 100%;
}
.page-authorization-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.header-container {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.header__title {
  font-size: 3rem;
  color: #56221e;
  text-align: center;
  margin: 0 auto;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }
}
.header__btn {
  color: black;
  height: 50px;
  border-radius: 20px;
  background-color: white;
}
.header__btn:hover {
  box-shadow: 0 0px 4px 1px #ffffff;
}
@media screen and (max-width: 768px) {
  .header__btn {
    font-size: 2.5rem;
    max-width: 130px;
    height: 40px;
  }
}

.form-search__field {
  max-width: 280px;
  height: 45px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .form-search__field {
    max-width: 230px;
    height: 30px;
  }
}
.form-search__field-input, .form-search__field-select {
  width: 100%;
  height: 100%;
  color: #000000;
  border: 1.5px solid #7a7a7a;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 1.8rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form-search__field-input, .form-search__field-select {
    font-size: 1.4rem;
  }
}
.form-search__field-input:focus, .form-search__field-select:focus {
  outline: none;
  box-shadow: 0 0px 4px 1px #99befa;
}
.form-search__field-input::placeholder, .form-search__field-select::placeholder {
  color: #7a7a7a;
}
.form-search__field-select-option {
  font-size: inherit;
}

.theme__field {
  height: 45px;
}
@media screen and (max-width: 768px) {
  .theme__field {
    height: 30px;
  }
}
.theme__field-select {
  width: 100%;
  height: 100%;
  color: #000000;
  border: 1.5px solid #7a7a7a;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 1.8rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .theme__field-select {
    font-size: 1.4rem;
  }
}
.theme__field-select:focus {
  outline: none;
  box-shadow: 0 0px 4px 1px #99befa;
}
.theme__field-select::placeholder {
  color: #7a7a7a;
}
.theme__field-select-option {
  font-size: inherit;
}

.page-application__title {
  color: #7a7a7a;
  font-size: 2.3rem;
  text-align: center;
  padding: 25px;
}
@media screen and (max-width: 768px) {
  .page-application__title {
    font-size: 1.4rem;
    padding: 20px;
  }
}
.page-application__title-name {
  color: #000000;
  font-size: inherit;
  text-transform: uppercase;
}
.page-application__controls {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 15px;
  flex-wrap: wrap-reverse;
}
@media screen and (max-width: 768px) {
  .page-application__controls {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.page-application__form-search {
  margin-left: auto;
  flex-shrink: 0;
}
.page-application__theme {
  margin-right: auto;
  flex-shrink: 0;
}
.page-application__btn {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../../assets/8068809.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 30px 0 auto;
}
@media screen and (max-width: 768px) {
  .page-application__btn {
    width: 70px;
    height: 70px;
  }
}

html {
  height: 100%;
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
html body {
  height: 100%;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
